<p>
  <strong>Membership:</strong>
  <%= @membership.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership.price %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
